/* Divide the page into sections. Layouts hold one or more
 * modules together */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 0 1em;
  color: #555;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
