/* Divide the page into sections. Layouts hold one or more
 * modules together */

#header {
  height: 10em;
  width: 100%;
  text-align: center;
  margin: auto;
}

#body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
