/* Modules are reusable pars of our design.
 * e.g. callouts, sidebards, products lists, etc. */

.search-form {
  width: 80%;
  margin: 2em 1.5em;
  max-width: 50em;
}

.sermon-card {
  border-bottom: 1px solid #d8dee9;
  max-width: 25em;

  .sermon-card-body {
    font-size: 12px;
    line-height: 10px;

    .scripture-reference {
      font-size: 13px;
    }
  }

  .sermon-card-header {
    font-size: 16px;
    padding-bottom: 6px;
  }
}

.sermons-list {
  margin: auto 1em auto 1em;
}

.scripture-passage {
  font-size: 13px;
}

.copyright {
  border-top: 1px solid #333;
  margin: 3em 0 1em;
  padding-top: 1em;
  max-width: 50em;
  font-size: 10px;
}
